.floating-button {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    left: 20px; /* Ajusta la distancia desde el borde derecho */
    cursor: pointer;
}

.floating-button button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #17a2b8;
    color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al botón */
    outline: none; /* Quita el contorno al hacer clic */
    transition: background-color 0.3s ease;
}

.floating-button button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}
